block var
  -
    metas = {}
    metas.title = null;
    metas.url = null;
    metas.keyword = null;
    metas.description = null;
    metas.og_image = null;
  -
    path = {}
    path.css = '/assets/css/';
    path.js = '/assets/js/';
    path.img = '/assets/images/';
    path.fonts = '/assets/fonts/';
    path.mov = '/assets/movie/';
  -
    link = {}
    link.top = '/';

doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title= (metas.title || '')
    block meta
      meta(name="description", content=(metas.description || ''))
      meta(property="og:locale" content="ja_JP")
      meta(property="og:title" content=(metas.title || ''))
      meta(property="og:description" content=(metas.description || ''))
      meta(property="og:keywords" content=(metas.keyword || ''))
      meta(property="og:type" content="website")
      meta(property="og:url" content=(metas.url || ''))
      meta(property="og:image" content=(metas.og_image || '/assets/images/og_image.jpg'))
      meta(property="og:image:width" content="1200")
      meta(property="og:image:height" content="600")
      meta(property="og:site_name" content=(metas.title || ''))
      meta(name="robots" content="index,follow")
      meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='shortcut icon' href='/assets/images/favicon.ico')
    link(rel='stylesheet', href='/assets/stylesheets/style.css?' + new Date().getTime())
    script(src='/assets/js/vendor.js?' + new Date().getTime())
  block content
  script(src='/assets/js/app/index.bundle.js?' + new Date().getTime())
